<launch>

    <!-- Arguments -->
  <!-- <arg name="motion_planning" default="/home/spadea/XTDrone/motion_planning/2d/"/> -->
  <!-- <arg name="move_forward_only" default="false"/> -->
  <!-- <arg name="open_rviz" default="true"/> -->

  <!-- Map server -->
  <!-- <node pkg="map_server" name="map_server" type="map_server" args="$(arg motion_planning)/map/mission1.yaml"/> -->

  <!-- move_base -->
  <!-- <include file="$(arg motion_planning)/launch/move_base.launch">
    <arg name="motion_planning" value="$(arg motion_planning)"/>
    <arg name="cmd_vel_topic" default="/xtdrone/iris_0/cmd_vel_flu" />
    <arg name="odom_topic" default="/iris_0/mavros/local_position/odom" />
  </include> -->

  <!-- rviz -->
  <!-- <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(arg motion_planning)/rviz/2d_motion_planning.rviz"/>
  </group> -->

    <node pkg="as_navigation" type="asnav_node" name="asnav_node" output="screen">
   
    </node>

</launch>
